*{
  border: 1px dotted black;
  margins: auto;
  width: 80%;
  padding: 10px;
}

#TopDiv{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

#SiteNavigation ul{
  list-style: none;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;

}

#SiteNavigation ul li{
  padding: 10px;
  width: 50px;
}

/*
#SiteNavigation ul{
  list-style: none;
}

#SiteNavigation ul li{
  display: inline-block;
} */
